<PARAMETER>
    <TRADE>tcp://asp-sim2-front1.financial-trading-platform.com:26205</TRADE>
    <MARKET>tcp://asp-sim2-md1.financial-trading-platform.com:26213</MARKET>
    <BROKER_ID>4000</BROKER_ID>
    <INVESTOR_ID>601000047</INVESTOR_ID>
    <PASSWORD>123456</PASSWORD>
    <INSTRUMENT>
        <ITEM>IF1207</ITEM>
    </INSTRUMENT>        
    <DB_CONN>DSN=PostgreSQL35W;UID=postgres;PWD=123</DB_CONN>
    <HS300_URL>http://hq.sinajs.cn/list=sz399300</HS300_URL>
</PARAMETER>
