<PARAMETER>
    <TRADE>tcp://asp-sim2-front1.financial-trading-platform.com:26205</TRADE>
    <MARKET>tcp://asp-sim2-md1.financial-trading-platform.com:26213</MARKET>
    <BROKER_ID>4000</BROKER_ID>
    <INVESTOR_ID>601000047</INVESTOR_ID>
    <PASSWORD>123456</PASSWORD>
    <INSTRUMENT>
        <ITEM>IF1211</ITEM>
        <ITEM>IF1212</ITEM>
        <ITEM>IF1303</ITEM>
        <ITEM>CF309</ITEM>
    </INSTRUMENT>        
    <DB_CONN>DSN=PostgreSQL35W;UID=postgres;PWD=123</DB_CONN>
    <HS300_URL>http://hq.sinajs.cn/list=sz399300</HS300_URL>
    <ALGORITHM>
	<ITEM>
		<NAME>RandomAlgorithm</NAME>
    		<INSTRUMENT>
        		<ITEM>0</ITEM>
        		<ITEM>1</ITEM>
		</INSTRUMENT>   
	</ITEM>
	<ITEM>
		<NAME>HsAlgorithm</NAME>
    		<INSTRUMENT>
        		<ITEM>0</ITEM>
        		<ITEM>1</ITEM>
		</INSTRUMENT>   
	</ITEM>
	<ITEM>
		<NAME>WeightedAlgorithm</NAME>
    		<INSTRUMENT>
        		<ITEM>1</ITEM>
		</INSTRUMENT>   
	</ITEM>
	<ITEM>
		<NAME>DtAlgorithm</NAME>
    		<INSTRUMENT>
        		<ITEM>1</ITEM>
		</INSTRUMENT>   
	</ITEM>
    </ALGORITHM>
</PARAMETER>
