<PARAMETER>
    <INSTRUMENT>
        <ITEM>IF1304</ITEM>
        <ITEM>IF1305</ITEM>
        <ITEM>IF1306</ITEM>
        <ITEM>IF1309</ITEM>
    </INSTRUMENT>               
    <DB_CONN>DSN=PostgreSQL35W;UID=postgres;PWD=123</DB_CONN>
    <WRITE_DB>TRUE</WRITE_DB>
    <HS300_URL>http://hq.sinajs.cn/list=sz399300</HS300_URL>
    <ACCOUNTS>
    <ACCOUNT>
    <TRADE>tcp://180.166.30.117:41205</TRADE>
    <MARKET>tcp://180.166.30.117:41213</MARKET>
    <BROKER_ID>1024</BROKER_ID>
    <INVESTOR_ID>00000019</INVESTOR_ID>
    <PASSWORD>123456</PASSWORD>
    <ALGORITHM>
    <ITEM>
        <NAME>WeightedAlgorithm</NAME>
            <INSTANCE>
            <ITEM>
                <INSTRUMENT>0</INSTRUMENT>
                <CONFIG>c:\temp.xml</CONFIG>                
		<SLOT>0</SLOT>                
            </ITEM>
        </INSTANCE>   
    </ITEM>
    <ITEM>
        <NAME>DtAlgorithm</NAME>
            <INSTANCE>
            <ITEM>
                <INSTRUMENT>1</INSTRUMENT>
                <CONFIG>c:\temp.xml</CONFIG>
		<SLOT>0</SLOT>                
            </ITEM>
        </INSTANCE>   
    </ITEM>
    </ALGORITHM>
    </ACCOUNT>
    <ACCOUNT>
    <TRADE>tcp://asp-sim2-front1.financial-trading-platform.com:26205</TRADE>
    <MARKET>tcp://asp-sim2-md1.financial-trading-platform.com:26213</MARKET>
    <BROKER_ID>4000</BROKER_ID>
    <INVESTOR_ID>601000047</INVESTOR_ID>
    <PASSWORD>123456</PASSWORD>

    <ALGORITHM>
    <ITEM>
        <NAME>RandomAlgorithm</NAME>
        <INSTANCE>
            <ITEM>
                <INSTRUMENT>0</INSTRUMENT>
                <CONFIG>c:\temp.xml</CONFIG>
		<SLOT>0</SLOT>                
            </ITEM>
        </INSTANCE>   
    </ITEM>
    <ITEM>
        <NAME>HsAlgorithm</NAME>
            <INSTANCE>
            <ITEM>
                <INSTRUMENT>0</INSTRUMENT>
                <CONFIG>c:\temp.xml</CONFIG>
		<SLOT>0</SLOT>                
            </ITEM>
            <ITEM>
                <INSTRUMENT>2</INSTRUMENT>
                <CONFIG>c:\temp.xml</CONFIG>                
		<SLOT>0</SLOT>                
            </ITEM>
        </INSTANCE>   
    </ITEM>
    </ALGORITHM>
    </ACCOUNT>
    </ACCOUNTS>
</PARAMETER>
